<div class="{{'block-astuce ' ~ data.type }}">
    <div class='astuce'>
        <div class="astuce-image" style="background: url('{{ data.image}}') center center no-repeat; background-size: cover;"> </div>
        <div class="infos">
            <div class='icon'>
                <img src="{{'img/icons/astuce-play-' ~ data.type ~ '.png'}}" alt='icon play' />
            </div>
            <div class="text">
                <h3>{{ data.title }}</h3>
                <p>{{ data.text }}</p>
            </div>
        </div>        
    </div>
</div>