<div class="{{'social-block ' ~ class }}">
    <div class="containt">
        <div class="{{'image ' ~ type }}" style="background: url('{{ data.image}}') center center no-repeat; background-size: cover;"></div>            
        <div class="text">
            <div>
                <p class="desc">{{data.text}}</p>
                <p class="author">- {{data.author}}</p>
            </div>
        </di>
    </div>
</div>