{% extends "layout.html.twig" %}

{% block page_title %}
    Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="home-page">
<section class='wrap-header'>
    
    <div class="image">
         <img alt="image" src="{{ data.header.image }}" />
    </div>

    <h1>{{ data.header.title }}</h1>
    <p>{{ data.header.subtitle }}</p>
    
    <div class='button-container'>
        {% for button in data.header.buttons %}
        <div class='button-containt'>
            <a class={{'button ' ~ button.type}} href={{ button.url }}>{{ button.title }}</a>
        </div>
        {% endfor %}
    </div>    
</section>

{% include 'components/_events.html.twig' with {title : data.event.title, events : events} %}

<section class='wrap-type-member'>
    <div class='contain'>
        <p>{{ data.member.description }}</p>
        <h3>{{ data.member.title }}</h3>
        <div class='button-container'>
            {% for button in data.member.buttons %}
            <div class='button-containt'>
                <a class={{'button ' ~ button.type}} href={{ button.url }}>{{ button.title }}</a>
            </div>
            {% endfor %}
        </div>   
    </div>
</section>

<section class='wrap-portrait'>
    <h2>{{data.portrait.citation.title}}</h2>
    <div class='citation'>
        <p>{{data.portrait.citation.text}}</p>
        <p>{{data.portrait.citation.auther ~ ' - quartier ' ~ data.portrait.citation.district}}</p>
    </div>
    
    {% include 'components/_social-block.html.twig' with {type : data.portrait.person.type, data : data.portrait.person.data} %}
    
    <div class='button-container'>
        {% for button in data.portrait.buttons %}
        <div class='button-containt'>
            <a class={{'button ' ~ button.type}} href={{ button.url }}>{{ button.title }}</a>
        </div>
        {% endfor %}
    </div>
</section>
</div>
{% endblock %}
