{% extends "layout.html.twig" %}

{% block page_title %}
    Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="home-page">

<section class='wrap-header'> 
   {% include 'components/_header-main.html.twig' with { data : data.header } %}
</section>

{% include 'components/_events.html.twig' with {title : data.event.title, events : events} %}

<section class='wrap-type-member'>
    {% include 'components/_type-member.html.twig' with {data : data.member} %}
</section>

<section class='wrap-portrait'>
    <h2>{{data.portrait.title}}</h2>
    <div class='citation'>
        <p class='desc'>{{data.portrait.citation.text}}</p>
        <p class='auther'>{{data.portrait.citation.author ~ ' - quartier ' ~ data.portrait.citation.district}}</p>
    </div>
    <div class="portrait-social">
        {% include 'components/_social-block.html.twig' with {type : data.portrait.person.type, data : data.portrait.person.data, class : 'gray'} %}
    </div>
    <div class='portrait-button'>
        {% for button in data.portrait.buttons %}
            {% include 'components/_button-ui.html.twig' with {data : button} %}
        {% endfor %}
    </div>
</section>

<section class="section-infos">
     {% include 'components/_infos.html.twig' with {data : data.infos} %}
</section>

<section class="section-astuces">
    <h2>{{data.astuces.title}}</h2>

    {% for astuce in data.astuces.astuce %}
            {% include 'components/_astuce.html.twig' with {data : astuce} %}
    {% endfor %}

    {% for button in data.astuces.buttons %}
            {% include 'components/_button-ui.html.twig' with {data : button} %}
    {% endfor %}
</section>

<section class="section-news">
    <h2>{{data.news.title}}</h2>

    {% for article in data.news.articles %}
        {% include 'components/_social-block.html.twig' with {type : article.type, data : article.data, class : 'normal'} %}
    {% endfor %}

    {% for button in data.news.buttons %}
        {% include 'components/_button-ui.html.twig' with {data : button} %}
    {% endfor %}
</section>

<section class="section-carte">
    <div class="carte">
        <img alt="carte" src="img/pages/home/carte.png" />
    </div>
</section>
</div>
{% endblock %}
