{% extends "layout.html.twig" %}

{% block page_title %}
    Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}

<p>{{ data.main.text }}</p>

<p>{{ user.id }}</p>
<p>{{ user.nom }}</p>
<p>{{ user.prenom }}</p>
<p>{{ user.email }}</p>
   
{% endblock %}