{% extends "layout.html.twig" %}

{% block page_title %}
    Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}

<p>NOM : {{ user.name }}</p>
<p>PRENOM : {{ user.firstname }}</p>
<p>EMAIL : {{ user.email }}</p>
<p>TEAM : {{ team }}</p>

{% for participant in participants %}
<p>TEAM USER : {{ participant.firstname }} {{ participant.name }}</p>
{% endfor %}
   
{% endblock %}